apiVersion: core.kubebb.k8s.com.cn/v1alpha1
kind: ComponentPlan
metadata:
  name: my-chartmuseum
  namespace: kubebb-system
spec:
  approved: true
  component:
    name: repository-kubebb.chartmuseum
    namespace: kubebb-system
  name: my-chartmuseum
  override:
    set:
      - env.secret.BASIC_AUTH_USER=admin
      - env.secret.BASIC_AUTH_PASS=password
  version: 3.10.2
