---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.2
  creationTimestamp: null
  name: menus.core.kubebb.k8s.com.cn
spec:
  group: core.kubebb.k8s.com.cn
  names:
    kind: Menu
    listKind: MenuList
    plural: menus
    singular: menu
  scope: Cluster
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Menu is the Schema for the menus API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: MenuSpec defines the desired state of Menu
            properties:
              cluster:
                description: 菜单对应路由是否可以切换集群
                type: boolean
              column:
                description: '* 菜单组所在列序号'
                format: int32
                type: integer
              disabled:
                description: menu 显示控制
                type: boolean
              getTitleForReplaceSider:
                description: 获取 title 的函数
                properties:
                  method:
                    description: 方法
                    type: string
                  params:
                    description: 参数
                    type: string
                  responseDataPath:
                    description: 获取数据的路径
                    items:
                      type: string
                    type: array
                type: object
              icon:
                description: 菜单图标
                type: string
              id:
                description: 菜单组中文名称
                type: string
              isRenderSelectCurrent:
                description: 是否渲染选择项目、集群
                type: boolean
              parent:
                description: 父菜单 ID
                type: string
              pathname:
                description: 菜单路由
                type: string
              project:
                description: 菜单对应路由是否可以切换项目
                type: boolean
              rankingInColumn:
                description: 菜单在当前组中的排序，数字越小越靠前
                format: int32
                type: integer
              redirect:
                description: 跳转菜单路由，优先级高于 pathname，指定后点击菜单会跳转到 redirect 相应路由
                type: string
              replaceSiderBackNextPathnamePattern:
                description: 给替换菜单的返回按钮使用，当新的 pathname 是替换菜单，且替换菜单的返回按钮需要返回到当前 pathname
                  时，配置此属性； 其值得为新的 pathname，同时需要注意⚠️，如果新的地址有多个，则应该取多个地址的公共部分，例如，/oidc/management/projects/:id/role
                  和 /oidc/management/projects/:id/member 都需要支持，则应配置为/oidc/management/projects/:id
                type: string
              requiredModuleBits:
                description: 菜单可对应的 module 二进制位 (有一个满足即可见)
                items:
                  format: int32
                  type: integer
                type: array
              requiredRoles:
                description: 菜单可见需要的角色
                items:
                  type: string
                type: array
              target:
                description: 同 a 标签的 target 属性
                type: string
              tenant:
                description: 菜单对应路由是否可以切换租户
                type: boolean
              text:
                description: 菜单组中文名称
                type: string
              textEn:
                description: 菜单组英文名称
                type: string
              useChildrenReplaceSider:
                description: 是否在进入子页面后将 sider 替换
                type: boolean
            required:
            - textEn
            type: object
          status:
            description: MenuStatus defines the observed state of Menu
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
